.wholePage {
  background: repeating-linear-gradient(0.25turn, black, transparent 50px, transparent 190px,black 240px, black 266px),url("../../../img/state/supreme_court/marble_white.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.backArrow {
  top: 15px;
  left: 15px;
  width: 4%;
}

.mainTitle {
  justify-content: space-around;
}

.mainTitleText {
  width: 70%;
}

.topMain {
  font-size: 2.2rem;
}

.titleDivide {

}

.bottomMain {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
}

.bottomMain div {
  margin: 0 2%;
}

.menuBttn {
  font-size: 1.7rem;
}

.tagTitle {
  font-size: 1.6rem;
}

.welcome {
  margin-left: 15%;
}

.allJustices {
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
}

.justiceBox {
  margin-bottom: 30px;
  width: 30%;
}

.justiceTitle div:last-child {
  font-size: 1.2rem;
}

.caseBox {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  min-height: 275px;
}

.subtypeSelectBox {
  margin: 0 2% 0 0;
  border-right: 2px solid black;
  padding: 0 2% 0 0;
  width: 16%;
}

.subtypeSelect {

}

.subtypeSelect div:first-of-type {
  margin-bottom: 15px;
}

.subtypeSelect div:last-child {
  display: none;
  width: inherit;
}

.subtypeBttnList {
  display: block;
}

.subtypeBttn {
  margin-left: 0;
  width: inherit;
}

.caseBttnListOuter {
  overflow-x: hidden;
}

.caseBttnList {
  border: none;
  max-height: 500px;
  width: calc(96% + 17px);
}

.caseBttnBox {
  margin: 0 2% 0 0;
  border-right: 2px solid black;
  padding-right: 2%;
  width: 26%;
}

.caseDetailBox {
  width: 49%;
}

.caseContentOuter {
  overflow-x: hidden;
}

.caseContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 500px;
  width: calc(96% + 17px);
}

.minuteBox {
  padding: 50px 15%;
  display: flex;
  justify-content: space-between;
}

.allMinuteBttns {
  display: block;
}

.allMinuteBttns div {
  padding: 5px;
  width: 100%;
}

.minuteCnt {
  width: 90%;
}

.allMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.memberBox {
  width: 30%;
}

.fullBarIntro {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}

.minuteMainOuter {
  border-right: 1px dashed black;
  overflow-x: hidden;
}

.minuteMain {
  width: calc(90% + 17px);
}

.barIntro {
  width: 45%;
}

.upArrow {
  margin-left: 45%;
  margin-bottom: 100px;
  width: 10%;
}
