a {
  text-decoration: none;
}
#hubTitle {
  padding: 20px 0 20px 5%;
  color: gold;
  font-size: 2.4rem;
}
#hubTitle div:first-child {
  border-bottom: 3px solid gold;
  font-size: 2rem;
  width: 90%;
}
#hubContent {
  padding: 0 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.adminLink {
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: blue;
  font-size: 1.1rem;
  background-color: gold;
}
.levelButton {
  margin: 20px 10%;
  color: gold;
  max-width: 350px;
}
.levelImg {
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.levelTitle {
  border-radius: 0 0 20px 20px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5rem;
  color: gold;
  background-color: black;
}
