body {
  background-image:linear-gradient(to right, gold 0%, blue 5%, blue 95%, gold 100%);
}
a {
  text-decoration: none;
}
#hubTitle {
  padding: 20px 0 20px 5%;
  color: gold;
  text-align: center;
  font-size: 2.4rem;
}
#hubTitle div:first-child {
  border-bottom: 3px solid gold;
  font-size: 2rem;
  width: 90%;
}
#hubContent {
  padding: 0 0 100px 0;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}
.adminLink {
  border-radius: 0 0 0 5px;
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
  font-size: 1.1rem;
  background-color: gold;
  height: 35px;
  width: 35px;
}
.adminLink img {
  height: 35px;
  width: 35px;
}
.subtitle {
  margin-top: 45px;
  text-align: center;
  color: gold;
  font-size: 1.5rem;
}
.levelButton {
  margin: 20px 0% 20px 20%;
  border-radius: 15px;
  padding: 15px 5% 15px 5%;
  color: black;
  font-size: 1.3rem;
  background-color: gold;
  width: 55%;
}
.levelImg {
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.levelTitle {
  margin-left: 10%;
  padding: 10px 5%;
  text-align: left;
  font-size: 1.5rem;
  color: blue;
  background-image: linear-gradient(to right, rgba(255,215,0,1) 70%, rgba(255,215,0,0));
  width: 70%;
}
.sectionName {
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  display:flex;
  justify-content: space-between;
}
.sectionName img {
  width: 40%;
}
.statsRow {
  display: flex;
  justify-content: space-around;
}
.statsRow div {
  padding-top: 20px;
  font-size: 2rem;
}
.statsRow div img {
  max-width: 35%;
}
