.pageTop {
  display: none;
}
#hubTitle {
  margin-left: 10%;
  font-size: 4.5rem;
  width: 45%;
}
#hubTitle div:first-child {
  font-size: 2.6rem;
}
.ohioLogo {
  margin-right: 10%;
  display: flex;
  width: 133px;
  height: 133px;
}
.ohioLogo img {
  display: flex;
  width: 100%;
  height: 100%;
}
.govtLinkRow {
  display: flex;
  justify-content: space-around;
}
.govtLinkRow div {
  width: 60%;
}
.glossaryBar {
  display: none;
}
.introRow {
  display: flex;
  justify-content: space-between;
}
.introBox {
  margin: 10px 5%;
  padding: 20px 2%;
  font-size: 1.6rem;
  width: 40%;
}
.statsBox {
  margin: 10px 5%;
  padding: 20px 2%;
  font-size: 1.6rem;
  width: 40%;
}
.statsList {
  margin: 20px 0 0 10%;
  font-size: 1.7rem;
}
.statsList div {
  margin-bottom: 5px;
}
.subtitle div {
  width: 100% !important;
}
.sectionList {
  border-bottom: 1px solid #fec231;
  overflow-y: scroll;
  height: 450px;
  width: 100% !important;
}
.sectionName {
  width: 100% !important;
}
.statsRow {
  width: 100% !important;
}
.clickingRow {
  display: flex;
  justify-content: space-between;
}
.clickingRow div {
  display: block;
  width: 93%;
}
.positionBox {
  height: 150px;
}
.onePosition {

}
.oneEvent {
  width: 90%;
}
.allTopic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.topicBox {
  width: 45%;
}
.topicContent {
  display: block;
}
.explainBox {
  margin-top: 40px;
  padding: 0 10% 50px 10%;
  font-size: 1.6rem;
  max-height: inherit;
  overflow-y: hidden;
}
.moreButton {
 display: none;
}
