body {

}
a {

}
#hubTitle {
  margin-left: 10%;
}
#hubTitle div:first-child {

}
.ohioLogo {
  margin-right: 10%;
  display: flex;
  width: 85px;
  height: 85px;
}
.ohioLogo img {
  display: flex;
  width: 100%;
  height: 100%;
}
#hubContent {

}
.govtLinkRow {

}
.adminLink {

}
.adminLink img {

}
.glossaryBar {
  font-size: 2rem;
}
.glossaryBox {

}
.glossaryBox div {

}
.glossaryBox div:hover {

}
.introRow {

}
.introBox {

}
.introTitle {

}
.statsBox {

}
.statsTitle {

}
.subtitle {

}
.levelButton {

}
.levelImg {

}
.levelTitle {

}
.sectionName {

}
.sectionName div div img {

}
.sectionName div img {

}
.statsRow {

}
.statsRow div {

}
.statsRow div img {

}
.explainTitle {

}
.explainBox {
  max-height: inherit;
  overflow-y: hidden;
}
.moreButton {
  display: none;
}
