body {
  background:
    conic-gradient(darkred, darkred 25%, white 25%, white 50%, transparent 50%),
    url("../img/white_star.png"),
    linear-gradient(to right, #002868 50%, darkred 50%, darkred);
  background-attachment: fixed;
}

.indexMain {
  background-color: #002868;
}

a {
  text-decoration: none;
}
.topBar {
  display: flex;
  justify-content: space-between;
}
#hubTitle {
  margin-left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fec231;
  text-align: left;
  font-size: 2.4rem;
}
#hubTitle div:first-child {
  border-bottom: 3px solid #fec231;
  font-size: 2rem;
}
.ohioLogo {
  margin-right: 5%;
  padding: 20px 0;
  display: none;
  justify-content: flex-end;
  width: 45%;
}
#hubContent {

}
.govtLinkRow {

}
.adminLink {
  border-radius: 0 0 0 5px;
  position: absolute;
  top: 0;
  right: 0;
  color: #002868;
  font-size: 1.1rem;
  background-color: #fec231;
  height: 35px;
  width: 35px;
}
.adminLink img {
  height: 35px;
  width: 35px;
}
.glossaryBar {
  border-top: 1px solid #002868;
  border-bottom: 1px solid #002868;
  color: #002868;
  text-align: center;
  font-size: 1.3rem;
  background-color: #fec231;
  cursor: pointer;
}
.glossaryBox {
  display: none;
}
.glossaryBox div {
  border-bottom: 1px solid #fec231;
  padding: 10px 5%;
  color: #fec231;
  background-color: darkred;
}
.glossaryBox div:hover {
  color: #002868;
  background-color: #fec231;
}
.introRow {
  margin-bottom: 40px;
  padding-top: 10px;
}
.introBox {
  margin: 10px 10% 10px 10%;
  border: 5px solid #fec231;
  border-radius: 15px;
  padding: 20px 5%;
  color: #fec231;
  font-size: 1.3rem;
  background: linear-gradient(
      rgba(139,0,0,0.85),
      rgba(139,0,0,0.85)), url('../img/ohio_flag.jpg');
  background-size: cover;
  background-position: center;
}
.introTitle {
  margin-bottom: 25px;
  text-align: center;
  font-size: 3rem;
}
.statsBox {
  margin: 10px 10% 10px 10%;
  border: 5px solid #fec231;
  border-radius: 15px;
  padding: 20px 5%;
  color: #fec231;
  font-size: 1.3rem;
  background: linear-gradient(
      rgba(139,0,0,0.85),
      rgba(139,0,0,0.85)), url('../img/city_session.jpg');
  background-size: cover;
  background-position: center;
}
.statsTitle {

}
.statsList {

}
.subtitle {
  margin-top: 45px;
  text-align: center;
  color: #fec231;
  font-size: 1.5rem;
}
.levelButton {
  margin: 20px 0% 20px 20%;
  padding: 15px 5% 15px 5%;
  color: black;
  font-size: 1.3rem;
  background-color: #fec231;
  width: 55%;
}
.stateButton {
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  text-align: center;
  font-size: 1.7rem;
  background-color: darkred;
}
.linkButton {
  border-radius: 15px;
}
.levelImg {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

#aboutTop {
  padding-top: 50px;
  background: linear-gradient(
      rgba(139,0,0,0.85),
      rgba(139,0,0,0.85)), url('../img/nightly_presentation.jpg');
  background-size: cover;
  background-position: center;
}

.levelTitle {
  margin-left: 10%;
  padding: 10px 5%;
  text-align: left;
  font-size: 1.5rem;
  color: #002868;
  background: linear-gradient(to right, rgba(254,194,49,1) 70%, rgba(254,194,49,0));
  width: 70%;
}
.sectionName {
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  display:flex;
  justify-content: space-between;
}
.sectionName div div img {
  float: right;
  height: 25px;
}
.sectionName div img {
  float: right;
  height: 25px;
}
.statsRow {
  display: flex;
  justify-content: space-around;
}
.statsRow div {
  padding-top: 20px;
  font-size: 2rem;
}
.statsRow div img {
  height: 30px;
}
.explainTitle {
  color: darkred;
}
.explainBox {
  margin: 10px 10% 0 10%;
  padding-bottom: 50px;
  color: #fec231;
  font-size: 1.2rem;
}
