body {

}
a {

}
#hubTitle {
  color: yellow;
}
#hubTitle div:first-child {

}
#hubContent {

}
.adminLink {

}
.adminLink img {

}
.glossaryBar {

}
.glossaryBox {

}
.glossaryBox div {

}
.glossaryBox div:hover {

}
.introRow {
  display: flex;
  justify-content: space-between;
}
.introBox {

}
.introTitle {

}
.statsBox {

}
.statsTitle {

}
.subtitle {

}
.levelButton {

}
.levelImg {

}
.levelTitle {

}
.sectionName {

}
.sectionName div div img {

}
.sectionName div img {

}
.statsRow {

}
.statsRow div {

}
.statsRow div img {

}
.explainTitle {

}
.explainBox {

}
.moreButton {

}
