html {
  min-height: 100%;
  /* background-image: linear-gradient(to bottom right, blue, white); */
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}
/* .applyLink {
  padding: 10px 5%;
  font-size: 1.5rem;
  text-align: center;
  color: #fec231;
  background-color: blue;
  position: absolute;
  bottom: 0;
  width: 90%;
}

.applyLink a {
  color: #fec231;
} */
.footer {
  padding: 20px 0;
  text-align: center;
  color: #fec231;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1rem;
  background-color: #2020a0;
}
.footer a {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  color: #fec231;
}
