html {
  min-height: 100%;
  /* background-image: linear-gradient(to bottom right, blue, white); */
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}

.bothTopBttns {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bothTopBttns img {
  height: 50px;
  width: auto;
}

.footer {
  padding: 20px 10% 100px 10%;
  text-align: center;
  color: #fec231;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1rem;
}
.footer div:first-of-type {
  margin-bottom: 20px;
}
.footer a {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  color: #fec231;
}
