body {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  position: absolute;
  font-size: 16px;
  background-color: lightblue;
}

.returnArrow {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 0 15px 0;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: gold;
  height: 30px;
  width: 30px;
}

.returnArrow img {
  height: 30px;
  width: 30px;
}

.infoBox {
  margin: 70px 10% 20px 10%;
}

.allTitle {
  margin-bottom: 20px;
  border: 3px solid gold;
  border-radius: 15px;
  padding: 0 4%;
  color: gold;
  background-color: blue;
  width: 92%;
}

.upperTitle {
  margin: 10px 0 5px 0;
  font-size: 1.2rem;
  text-align: center;
}

.lowerTitle {
  margin-bottom: 10px;
  border-top: 1px solid gold;
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
}

.explain {
  font-size: 1.2rem;
}

.message {
  margin-bottom: 20px;
  text-align: center;
}

.formBox {
  padding: 10px 5%;
  text-align: center;
  color: gold;
  background-color: blue;
}

.formBox div {
  margin: 10px 0;
  font-size: 1.3rem;
}

.formBox select {
  margin-bottom: 20px;
  background-color: lightgrey;
}

.formBttn {
  margin: 30px 25% 10px 25% !important;
  border-radius: 15px;
  padding: 5px 0;
  color: blue;
  background-color: gold;
  width: 50%;
  max-width: 150px;
}

.lockedBox {
  padding: 0 10%;
  color: gold;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 80%;
}

.lockedBttn {
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 1.2rem;
}

.lockedInfo {
  border-top: 1px dashed gold;
  padding: 15px 0;
  display: none;
  font-size: 1.1rem;
}
