.returnArrow {
  border-width: 2px;
  height: 40px;
  width: 40px;
}

.returnArrow img {
  height: 40px;
  width: 40px;
}

.infoBox {
  margin-bottom: 80px;
}

.allTitle {
  margin-left: 50%;
  padding: 0 25px;
  position: relative;
  left: -250px;
  width: 450px;
}

.upperTitle {
  font-size: 2rem;
}

.lowerTitle {
  border-top: 3px solid gold;
  font-size: 2.5rem;
}

.explain {
  font-size: 1.6rem;
}

.formBox {
  margin-left: 50%;
  padding: 10px 40px;
  position: relative;
  left: -340px;
  font-size: 1.2rem;
  width: 600px;
}

.formBox div {
  font-size: 1.7rem;
}

.formBox select {
  text-align: center;
  font-size: 1.2rem;
}

.formBox input {
  font-size: 1.2rem;
}

.lockedInfo {
  font-size: 1.5rem;
}
