.returnArrow {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 0 15px 0;
  padding: 5px 0 0 5px;
  background-color: gold;
  width: 35px;
  height: 35px;
}
.returnArrow img {
  width: 25px;
  height: 25px;
}
.homeTitle {
  margin: 30px 0;
  padding: 0 5%;
  color: gold;
  font-size: 1.8rem;
}
.homeTitle span {
  border-top: 1px solid gold;
  font-size: 2.3rem;
}
.homeContent a {
  text-decoration: none;
}
.branchButton {
  margin: 20px 10%;
  color: gold;
  max-width: 350px;
}
.branchTitle {
  border-radius: 0 0 20px 20px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5rem;
  color: gold;
  background-color: black;
}
.branchImg {
  border-radius: 20px 20px 0 0;
  width: 100%;
