html {

}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.menuTop {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.menuTop div {
  padding: 5px 2%;
  font-size: 0.8rem;
  color: white;
}

.titleTop {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
}

.titleBottom {
  margin-bottom: 40px;
  font-size: 1.7rem;
  text-align: center;
}

.message {
  margin: 15px 0;
  text-align: center;
}

.sectionName {
  border: 2px solid black;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  padding: 5px 0;
  text-align: center;
  background-color: tan;
  width: 50%;
}

.belowTab {
  background-color: tan;
  height: 40px;
  width: 50%;
}

.belowTab:first-of-type {
  border-top: 2px solid tan;
}

.belowTab:last-of-type {
  border-top: 2px solid black;
}

.mainBox {
  background-color: tan;
}

.postTypeRow {
  margin: 0 5% 10px 5%;
  display:flex;
  justify-content:flex-end;
}

.postTypeRow:first-of-type {
  padding-top: 0;
}

.pendingRow {
  margin: 0 5%;
  display: flex;
  font-size: 1.2rem;
  text-align: center;
  justify-content: space-around;
}

.pendingRow div {
  border: 1px solid black;
  border-bottom: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 10px 0;
  width: 40%;
}

.pendingBttn {
  color: gold;
  background-color: black;
}

.allBttn {

}

.postType {
  margin-bottom: 10px;
  padding: 10px 15% 10px 5%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  background-color: blue;
}

.postMain {
  margin-bottom: 30px;
  display: none;
}

.addingPost {
  border-radius: 5px;
  padding: 10px 2%;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  background-color: green;
  width: 30%;
}

.addBox {
  background-color: lightgreen;
}

.addSubmit {
  margin: 20px 0 0 30%;
  padding: 5px 0;
  display: block;
  color: white;
  font-size: 1.3rem;
  background-color: green;
  width: 40%;
}

.postBox {
  margin: 0 5% 30px 5%;
  padding: 10px 5%;
  border: 1px solid black;
}

.postBox:last-of-type {
  margin-bottom: 0;
}

.postText {
  margin-bottom: 10px;
  font-size: 1.1rem;
  box-sizing: border-box;
  width: 100%;
}

.postSubtitle {
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.3rem;
}

.titleText {
  height: 80px;
}

.contentText {
  height: 300px;
}

.timeText {
  margin-left: 17%;
  height: 30px;
  width: 66%;
}

.postOrder {
  margin-left: 45%;
  margin-bottom: 10px;
  font-size: 1.1rem;
  width: 10%;
}

.postStatus {
  margin-top: 20px;
  border: 1px solid black;
}

.changeBttns {
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.changeBttns input {
  margin: 10px 0;
  border: 1px solid white;
  font-size: 1.2rem;
  color: white;
  background-color: blue;
  cursor: pointer;
}

.changeBttns div {
  margin: 10px 0;
  border: 1px solid white;
  padding: 5px 2%;
  font-size: 1.2rem;
  color: white;
  background-color: red;
  cursor: pointer;
}

.delBox {
  margin-top: 20px;
  display: none;
}

.delBttnRow {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.delBttn {
  border: 1px solid black;
  padding: 10px 5%;
}

.noDel {
  color: black;
  background-color: white;
}

.yesDel {
  color: white;
  background-color: red;
}

.counsOnly {
  padding: 15px 0;
  border: 2px dashed white;
  color: white;
  text-align: center;
  line-height: 1.7;
  font-size: 1.3rem;
  background-color: green;
}

.counsOnly input {
  font-size: 1.3rem;
  border: 2px solid white;
}

.counsTitle {
  margin: 40px 0 0 0;
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: red;
}

.counsContent {
  border: 2px solid red;
}

.jobList {
  margin: 0 5% 20px 5%;
}

.listTitle {
  margin-top: 10px;
  background-color: green;
}

.listTitle:first-of-type {
  margin-top: 0px;
}

.listBox {
  display: none;
  background-color: white;
}

.staffTitle {
  padding: 10px 10%;
  color: white;
  font-size: 1.3rem;
  background-color: blue;
}

.staffContent {
  padding: 5px 0;
}

.staffContent div {
  padding: 5px 5%;
}

.assignJobBox {
  display: none;
}

.updateDirBox {
  display: none;
}

.updateTable {
  margin: 15px 5% 0 5%;
  padding-top: 10px;
  border: 2px solid black;
  overflow-y: scroll;
  height: 325px;
  width: 90%;
}

.updateRow {
  margin: 0 2% 10px 2%;
  display: flex;
  justify-content: space-between;
}

.tableName {
  overflow: scroll;
  white-space: nowrap;
  width: 48%;
}

.tableChange {
  padding: 5px 1%;
  color: white;
  text-align: center;
  background-color: blue;
}

.tableDelete {
  padding: 5px 1%;
  color: white;
  text-align: center;
  background-color: red;
}

.changeBox {
  margin-bottom: 15px;
  padding: 5px 3% 10px 3%;
  border-bottom: 1px dashed black;
  display: none;
}

.changeInfo {
  margin-left: 20%;
  margin-bottom: 15px;
  text-align: center;
  width: 60%;;
}

.changeInput {
  margin: 5px 0;
  display: flex;
}

.changeInput div {
  margin-right: 5%;
  text-align: right;
  width: 35%;
}

.changeInput input {
  width: 60%;
}

.changeEnter {
  margin: 10px 0 0 25%;
  color: white;
  font-size: 1.1rem;
  background-color: green;
  width: 50%;
}

.deleteBox {
  margin-bottom: 15px;
  padding: 10px 10%;
  border-bottom: 1px dashed black;
  display: none;
}

.deleteInfo {
  text-align: center;
}

.deleteRow {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.deleteRow div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 3%;
  font-size: 1.1rem;
  background-color: lightgrey;
}

.deleteRow div:first-child {
  border: 1px solid white;
  color: white;
  background-color: red;
}

.addDirTitle {
  margin: 20px 0 0 15%;
  padding: 10px 0;
  border-radius: 10px;
  border: 2px solid blue;
  color: blue;
  text-align: center;
  background-color: gold;
  width: 70%;
}

.addDirBox {
  margin: 0 5%;
  padding: 5px 2%;
  background-color: blue;
  display: none;
  width: 86%;
}

.delInfoInput {
  margin-bottom: 5px;
  font-size: 1.2rem;
  text-align: center;
  width: 98%;
}

.selectBttn {
  font-size: 1.2rem;
  background-color: lightgrey;
  width: 100%;
}

.addDelBttn {
  margin: 10px 25%;
  padding: 5px 0;
  color: black;
  font-size: 1.3rem;
  text-align: center;
  background-color: gold;
  width: 50%;
}

.dptDirBox {
  display: none;
}

.addDptBttn {
  margin: 0 15%;
  padding: 10px 0;
  border: 2px solid blue;
  border-radius: 15px;
  color: blue;
  font-size: 1.2rem;
  text-align: center;
  background-color: gold;
  width: 70%;
}

.addDptBox {
  margin: 0 5%;
  padding: 5px 2%;
  background-color: blue;
  display: none;
}

.dptText {
  margin-bottom: 8px;
  font-size: 1.1rem;
  width: 98%;
}

.dptActive {
  color: gold;
  font-size: 1.1rem;
}

.dptActive select {
  border: 1px solid gold;
  color: gold;
  font-size: 1.1rem;
  text-align: center;
  background-color: blue;
}

.addDptSubmit {
  margin: 30px 0 15px 30%;
  border-radius: 15px;
  color: blue;
  font-size: 1.3rem;
  text-align: center;
  background-color: gold;
  width: 40%;
}

.allBox {
  padding: 20px 0;
  background-color: lightgreen;
}

.refAll {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.refInfoBar {
  margin-top: ;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.2rem;
  background-color: black;
}

.refInfoBttn {
  border-radius: 20px;
  color: black;
  text-align: center;
  background-color: white;
  cursor: pointer;
  width: 20px;
}

.refInfoBox {
  padding: 10px 5%;
  border-top: 2px dashed white;
  color: white;
  font-size: 1.1rem;
  display: none;
  background-color: black;
}
