.govTitle {
  font-size: 4rem;
}

.govTitle div:last-child {
  font-size: 1.8rem;
}

.backButton {
  font-size: 1.2rem;
}

#img_0 {
  display: none;
}

.slideshow {
  display: block;
  /* position: relative; */
  overflow: hidden;
}

.slideFilm {
  display: flex;
  position: relative;
  left: 0;
  width: 300%;
  animation: slideAction 15s linear infinite;
}

@keyframes slideAction {
  0%   { left: 0 }
  100% { left: -900px }
}

.oneFrame {
  background-size: cover;
  height: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 300px;
}

#img_1_A {
  display: inherit;
}

#img_2_A {
  background-image: url("../../../img/state/governor/band_2.jpg");
  display: inherit;
}

#img_3_A {
  background-image: url("../../../img/state/governor/AL_logo.jpg");
  display: inherit;
}

#img_4_A {
  display: none;
}

#img_5_A {
  display: none;
}

#img_6_A {
  display: none;
}

#img_7_A {
  display: none;
}

#img_1_B {
  display: inherit;
}

#img_2_B {
  background-image: url("../../../img/state/governor/band_2.jpg");
  display: inherit;
}

#img_3_B {
  background-image: url("../../../img/state/governor/AL_logo.jpg");
  display: inherit;
}

#img_4_B {
  display: none;
}

#img_5_B {
  display: none;
}

#img_6_B {
  display: none;
}

#img_7_B {
  display: none;
}

.menuBar {
  font-size: 1.5rem;
}

.fullContent {

}

.menuList {
  font-size: 1.5rem;
}

#menuContent {
  display: none;
}

.menuButton {
  padding-left: 10%;
}

.nameAndPic {
  display: flex;
  justify-content: space-around;
}

.govName {
  padding-top: 50px;
  font-size: 3rem;
  max-width: 50%;
}

.nameAndPic img{
  height: 30%;
  width: 30%;
}

.govBio {
  font-size: 1.5rem;
}

.goalBox {
  font-size: 1.3rem;
}

.goalIntro {
  padding: 0 15%;
}

.listTitle {
  font-size: 1.5rem;
}

.agencySubtitle {
  padding-left: 15%;
  font-size: 1.8rem;
}

.purpose {
  font-size: 1.3rem;
}

.directorRow {
  font-size: 1.3rem;
}

.allReportBtns div {
  padding: 10px 0;
  font-size: 1.7rem;
  width: 8%;
}
