/*
AL blue: #00467f
AL gold: #fec231
  white: #FFFFF4

To find color schemes: https://color.adobe.com/create
  AL blue: #00467f  <---- primary color
 dark red: #8C130E
dark blue: #051E33
dk. green: #4A4D08
ylw green: #C5CC0A
*/

/* Begins animation */

/* Moving from 'entranceBox' to 'houseBox' */
@keyframes toRedBox {
  from {
    background-position-x: 50%;
  }
  to {
    background-position-x: 0%;
  }
}

/* Moving from 'senateBox' to 'houseBox' */
@keyframes blueToCenter {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: 50%;
  }
}

/* Moving from 'entranceBox' to 'senateBox' */
@keyframes toBlueBox {
  from {
    background-position-x: 50%;
  }
  to {
    background-position-x: 100%;
  }
}

/* Moving from 'houseBox' to 'senateBox' */
@keyframes redToCenter {
  from {
    background-position-x: 0%;
  }
  /* to {
    background-position-x: 100%;
  } */
  to {
    background-position-x: 50%;
  }
}

/* Ends animations */

html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  height: 100%;
}

.wholeBox {
  /* background-image: linear-gradient(to right, #8C130E, #8C130E 35%, transparent 37%, transparent 63%, #00467f 65%), url("../../../img/state/congress/white_fabric.jpg"); */
  background-image: linear-gradient(to right, #8C130E, #8C130E 35%, #FFFFF4 37%, #FFFFF4 63%, #00467f 65%);
  background-size: 300% 100%;
  background-position-x: 50%;
  height: 100%;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: none;
}

.menu {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.senMenu {
  border-bottom: 1px solid #fec231;
  display: none;
  transition: transform 0.5s linear;
  background-color: #4A4D08;
}

.senOption {
  border-top: 1px solid #fec231;
  padding: 10px 5%;
  font-size: 1.5rem;
  color: #fec231;
}

.senOption:hover {
  color: #4A4D08;
  background-color: #fec231;
}

.senOption:hover:first-of-type {
  background-color: #4A4D08;
  color: #fec231;
}

.senSubOption {
  margin-bottom: 10px;
  padding-left: 10%;
  color: #fec231;
  font-size: 1.2rem;
}

.senSubOption:hover {
  color: #4A4D08;
  background-color: #fec231;
}

.bothTopBttns {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background-color: #00467f;
  width: 100%;
  height: 50px;
}

.bothTopBttns img {
  height: 50px;
  width: auto;
}

/* START ENTRANCE BOX */
.entranceBox {
  padding-top: 60px;
}

.entranceBackArrow {
  position: absolute;
  top: 0;
  left: 25px;
  width: 13%;
}

.entranceBackArrow img {
  width: 100%;
}

.entranceTitle {
  margin: 0px 10% 60px 10%;
  border: 3px solid #fec231;
  padding: 5px 0;
  color: #fec231;
  font-size: 2.2rem;
  text-align: center;
  background-color: black;
}

.entranceTitle div:first-of-type {
  margin-left: 5%;
  padding-bottom: 5px;
  border-bottom: 3px solid #fec231;
  font-size: 1.5rem;
  width: 90%;
}

.entranceTitle div:last-of-type {
  margin-top: 5px;
}

.bothChambers {

}

.chooseHouse {
  margin-top: 15px;
  text-align: center;
  font-size: 1.3rem;
}

.chamberBttn {
  margin: 40px 0 0 15%;
  padding: 20px 5%;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  width: 60%;
}
/* END ENTRANCE BOX */

/* START BOTH HOUSES */
.bothTabs {
  padding: 5px 7px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 400px;
  color: #fec231;
  font-size: 1.2rem;
  z-index: 2;
}

.leaderBox {

}

.moduleTitle {
  padding: 5px 0;
  font-size: 1.9rem;
  text-align: center;
}

.leaderTypeTitle {

}

.majorityBox {

}

.oneLdr {
  margin-left: 10%;
  width: 80%
}

.oneLdr img {
  width: 100%;
}

.majorityLdrs {

}

.minorityLdr {

}

.ldrTitle {
  font-size: 1.5rem;
  text-decoration: underline;
}

.ldrName {
  margin: 15px 0;
  color: #fec231;
  font-size: 2rem;
  text-align: center;
}

.ldrDescription {
  margin: 15px 0 30px 0;
  color: #fec231;
  font-size: 1.3rem;
}

.topBttn {
  margin-bottom: 40px;
  font-size: 1.2rem;
  text-align: center;
}

/* END BOTH HOUSES */

/* START HOUSE OF REPS BOX */
.houseBox {
  display: none;
}

/* END HOUSE OF REPS BOX */

/* START SENATE BOX */
.senateBox {
  display: none;
}

.senContent {
  padding-top: 50px;
}

.senTitle {
  padding: 90px 0;
  text-align: center;
  background-image: url("../../../img/state/congress/senate/sen_chamber.jpg");
  background-position: center;
  background-size: cover;
}

.senText {
  padding: 10px 0;
  color: black;
  font-size: 4rem;
  background-color: #fec231;
  box-shadow: 0 10px 10px #fec231, 0 -10px 10px #fec231;
}

.bbsTitle {
  margin-left: 10%;
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  width: 80%;
}

.senIntro {
  margin: 40px 13%;
  border: 2px solid #fec231;
  padding: 10px 3%;
  color: #fec231;
  text-align: center;
  font-size: 1.8rem;
}

.senModTitle {
  border-top: 1px solid #fec231;
  border-bottom: 1px solid #fec231;
  color: #fec231;
  background-color: #4A4D08;
}

.senLdrs {

}

.senMajTitle {
  margin: 10px 0;
  padding: 10px 0 10px 2%;
  color: #00467f;
  font-size: 1.4rem;
  background-image: linear-gradient(to right, #fec231, #fec231 75%, transparent 90%);
}

.senMinTitle {
  margin: 10px 0;
  padding: 10px 2% 10px 0;
  color: #00467f;
  font-size: 1.4rem;
  text-align: right;
  background-image: linear-gradient(to left, #fec231, #fec231 75%, transparent 90%);
}

.senLdrTitle {
  color: #fec231;
}

.senLdrName {
  color: #fec231;
}

.senLdrDescription {
  color: #fec231;
}

.senTopBttn {
  color: #fec231
}

/* END SENATE BOX */
