/*
AL gold: #fec231
AL blue: #00467f
*/

/* Begins animation */

/* Moving from 'entranceBox' to 'houseBox' */
@keyframes toRedBox {
  to {
    background-position: 0%;
  }
}

/* Moving from 'senateBox' to 'houseBox' */
@keyframes blueToRed {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}

/* Moving from 'entranceBox' to 'senateBox' */
@keyframes toBlueBox {
  to {
    background-position: 100%;
  }
}

/* Moving from 'houseBox' to 'senateBox' */
@keyframes redToBlue {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
/* Ends animations */

html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  height: 100%;
}

.wholeBox {
  background-image: linear-gradient(to right, #dc2121, #dc2121 35%, white 37%, white 63%, #00467f 65%);
  background-size: 300% 100%;
  background-position-x: 50%;
  height: 100%;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: none;
}

/* START ENTRANCE BOX */
.entranceBox {
  padding-top: 50px;
  /* animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: none; */
}

.entranceTitle {
  margin: 0 10% 60px 10%;
  border: 3px solid #fec231;
  padding: 5px 0;
  color: #fec231;
  font-size: 2.2rem;
  text-align: center;
  background-color: black;
}

.entranceTitle div:first-of-type {
  margin-left: 5%;
  padding-bottom: 5px;
  border-bottom: 3px solid #fec231;
  font-size: 1.5rem;
  width: 90%;
}

.entranceTitle div:last-of-type {
  margin-top: 5px;
}

.bothChambers {

}

.chooseHouse {
  margin: 15px 0;
  text-align: center;
  font-size: 1.3rem;
}

.chamberBttn {
  margin: 0 0 0 15%;
  padding: 20px 5%;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  width: 60%;
}
/* END ENTRANCE BOX */

/* START HOUSE OF REPS BOX */
.houseBox {
  display: none;
}
/* END HOUSE OF REPS BOX */

/* START SENATE BOX */
.senateBox {
  display: none;
}
/* END SENATE BOX */
